pandas==1.5.3
numpy==1.22.0
scipy==1.7.3
matplotlib==3.5.1
seaborn==0.11.2
plotly==5.5.0
scikit-plot==0.3.7
Boruta==0.3
scikit-learn==1.0.2
scikit-image==0.19.3
xgboost==1.6.2
lime==0.2.0.1
slicer==0.0.7
shap==0.41.0
